@import "../../../styles.scss";

.button-block {
  display: flex;
  justify-content: center;
  button {
    background-color: blue;
    font-weight: 700;
    border-radius: rem(10);
    padding: rem(5);
    width: rem(200);
    color: #fff;
    &:disabled {
      background-color: transparent;
      border: 1px solid red;
      color: black;
    }
  }
}
