@import "../styles.scss";
// ===========
.main {
  background-image: url("../assets/main-bg.jpg");
  background-repeat: no-repeat;
  height: 720px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
  &-title {
    color: $yellowColor;
    max-width: 400px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
  }
}
