@import "../styles.scss";

.header {
  &-top {
    background-color: $mainColor;
    padding: 24px 0;
    color: $textColor;
    &__container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    &__menu {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: 600;
      line-height: 19.36px;
      @media (max-width: $mobile) {
        gap: 20px;
      }
    }
    &__nav {
      ul {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        li:hover {
          cursor: pointer;
        }
        @media (max-width: $mobile) {
          gap: 15px;
        }
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: 500;
      line-height: 19.36px;
      @media (max-width: $mobile) {
        gap: 10px;
      }
    }
    &__phone {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../assets/phone.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 28px;
        height: 28px;
        top: -5px;
        left: -30px;
      }
    }
    &__marked {
      position: relative;
      width: 30px;
      height: 30px;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../assets/marked.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 28px;
        height: 28px;
      }
    }
    &__card {
      position: relative;
      padding: 14px 20px 14px 58px;
      border: 1px solid $yellowColor;
      border-radius: 50px;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../assets/basket.svg");
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        top: 9px;
        left: 15px;
      }
    }
  }
}

// ===========
.header-bottom {
  padding: 15px 0;
  background-color: $yellowColor;
  color: $darkColor;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  &__menu {
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 1100px) {
        gap: 15px;
      }
      li:first-child {
        position: relative;
        width: 16px;
        height: 2px;
        background-color: $darkColor;
        margin-right: -10px;
        @media (max-width: $tablet) {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 2px;
          background-color: $darkColor;
          display: block;
          bottom: 4px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          background-color: $darkColor;
          display: block;
          top: 4px;
        }
      }
    }
  }
  &__search-map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 1100px) {
      gap: 25px;
    }
  }
  &__search {
    position: relative;
    width: 400px;
    height: 30px;
    border-bottom: 1px solid $darkColor;
    @media (max-width: 1100px) {
      width: 280px;
    }
    & button {
      background-image: url("../assets/search.svg");
      width: 24px;
      height: 24px;
      right: 0;
      position: absolute;
    }
    input {
      background-color: transparent;
      width: 100%;
      height: 24px;
      padding-left: 5px;
      &:focus {
        outline: none;
        background-color: #e7c685;
      }
    }
  }
  &__location {
    position: relative;
    color: $textColor;
    &::before {
      content: "";
      background-image: url("../assets/map.svg");
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      position: absolute;
      left: -14px;
      top: 2px;
    }
  }
}
// ===========
.main {
  background-image: url("../assets/main-bg.jpg");
  background-repeat: no-repeat;
  height: 720px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
  &-title {
    color: $yellowColor;
    max-width: 400px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
  }
}
// =========
.info {
  padding: 25px 0;
  &-container {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("column-gap", 25, 10, 1320, 1200, 1);
  }
  &-card {
    flex: 1 1 0;
    padding: 5px;
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    @media (max-width: $tablet) {
      padding: 2px;
      gap: 10px;
    }
  }
  &-assortment {
    strong {
      display: block;
    }
  }

  &-text__subtitle {
    strong {
      font-weight: 700;
    }
  }
  &-delivery {
    strong {
      display: block;
    }
  }
}
// ==========
.products-pigination {
  display: flex;
  justify-content: end;
  column-gap: 15px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  color: #a1a0a0;
  & .active {
    color: $yellowColor;
  }
}
.products-cards {
  display: grid;
  grid-template-areas:
    "spray emals paints"
    "spray foams sockets";
  grid-template-rows: 200px 200px;
  grid-template-columns: 420px 420px 420px;
  gap: 25px;
  padding: 0 0 30px 0;

  // .products-cards__item

  &__item {
    padding: 15px 15px 0 15px;
    max-width: 421px;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
  }
  &__spray {
    grid-area: spray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .products-card__title {
      margin-bottom: 30px;
    }
    & .products-cards__link {
      padding-bottom: 25px;
    }
  }
  &__emals {
    grid-area: emals;
    display: flex;
    & .products-cards__content {
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
    }
    & .products-cards__link {
      padding: 0 0 25px 20px;
    }
  }
  &__paints {
    grid-area: paints;
    display: flex;
    flex-direction: column;
    & .products-cards__content {
      display: flex;
      justify-content: space-between;
    }
    & .products-cards__image {
      overflow: hidden;
      img {
        margin-top: -30px;
      }
    }
    & .products-cards__link {
      padding-bottom: 20px;
    }
  }
  &__foams {
    grid-area: foams;
    display: flex;
    & .products-cards__content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      flex: 1.2 1 0;
    }
    & .products-cards__image {
      flex: 0.6 1 0;
      overflow: hidden;
      img {
        margin-left: -30px;
      }
    }
    & .products-cards__link {
      padding-bottom: 25px;
    }
  }
  &__sockets {
    grid-area: sockets;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .products-cards__content {
      display: flex;
    }
    & .products-cards__link {
      padding: 0 0 25px 65px;
    }
  }

  // .products-card__content

  &__content {
    display: flex;
    align-items: end;
    justify-content: start;
  }

  // .products-card__title

  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
  }

  // .products-cards__img

  &__image {
    display: flex;
    max-width: 60%;
  }

  // .products-card__link

  &__link {
    position: relative;
    font-size: 14px;
    span {
      text-align: start;
    }
    &::before {
      content: "";
      background-image: url("../assets/arrow-right.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      border: 1px solid $yellowColor;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      top: -10px;
      right: -50px;
    }
  }
}
// ============

.popular {
  padding: 30px 0px 30px 0px;

  &-container {
    position: relative;
  }

  &-slide {
    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: -15px;
      background-color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 10px;
    }
    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: -15px;
      background-color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 10px;
    }
  }
  // .popular__top

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 30px 0px;
  }

  // .popular__title

  &__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
  }

  // .popular__more

  &__more {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: $yellowColor;
  }

  // .popular__item

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    padding: 24px;
    font-weight: 500;
    line-height: 19.36px;
    box-shadow: 0px 20px 50px 0px #12112714;
    margin: 0 auto;
  }
}
.popular-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 25px;
  // .popular-card__image

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px 0px 10px 0px;
  }

  // .popular-card__discount

  &__discount {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: $discountColor;
    color: $textColor;
    padding: 10px 20px;
    border-radius: 60px;
    display: none;
    &.discount {
      display: block;
    }
  }

  &__new {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: $newColor;
    border-radius: 60px;
    color: $textColor;
    display: none;
    &.new {
      display: block;
    }
  }

  // .popular-card__matked

  &__matked {
    position: absolute;
    top: 0;
    right: 0;
  }

  // .popular-card__content

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  // .popular-card__subtitle

  &__subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
  }

  // .popular-card__price-title

  &__price-title {
    display: flex;
    flex-direction: column;
    .popular-card__unit {
      color: #a1a0a0;
    }
  }

  // .popular-card__prices

  &__prices {
    display: flex;
    align-items: end;
    column-gap: 15px;
  }

  // .popular-card__old-price

  &__old-price {
    text-decoration: line-through;
  }

  // .popular-card__new-price

  &__new-price {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
  }

  // .popular-card__quantitys

  &__quantitys {
    display: flex;
    justify-content: space-between;
  }

  // .popular-card__quantity

  &__quantity {
    display: flex;
    flex-direction: column;
    // row-gap: 5px;
  }

  // .popular-card__quantity-block
  &__quantity-block {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  // .popular-card__quantity-title

  &__quantity-title {
    display: block;
    min-width: 100%;
  }

  // .popular-card__to-cart

  &__to-cart {
    border: 1px solid $yellowColor;
    border-radius: 54px;
    padding: 14px 20px;
  }
}
// ===========
.names {
  padding: 30px 0px 30px 0px;
  // .names-container

  &-container {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
  }

  &-content {
    padding: 28px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  // .names__title

  &__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    margin-bottom: 16px;
  }

  // .names__text

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
  }

  // .names__link

  &__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: $yellowColor;
  }

  // .names__image

  &__image {
  }
}
// ===========
.footer {
  // .footer__logo

  &__logo {
  }

  // .footer__contact

  &__contact {
  }

  // .footer__phone

  &__phone {
  }

  // .footer__phone-name

  &__phone-name {
  }

  // .footer__phone-number

  &__phone-number {
  }

  // .footer__emails

  &__emails {
  }

  // .footer__emails-name

  &__emails-name {
  }

  // .footer__email-adres

  &__email-adres {
  }

  // .footer__menu

  &__menu {
  }

  // .footer__socials

  &__socials {
  }

  // .footer__social

  &__social {
  }
}
.footer-contacts {
}
.facebook {
}
.youtube {
}
.we-chat {
}
