@import "../../../styles.scss";
.users {
  padding: 20px 0;
  &_list {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("width", 1320, 320);
    padding: rem(20) 0;
    gap: 15px;
  }
}
