@import "../../../styles.scss";

.create-user {
  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__name {
    padding: rem(5) 0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 5px;
    input {
      border: 1px solid black;
      border-radius: rem(5);
      padding: rem(5) 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    button {
      background-color: blue;
      font-weight: 700;
      border-radius: rem(15);
      padding: rem(5);
      width: rem(200);
      color: #fff;
      &:disabled {
        background-color: transparent;
        border: 1px solid red;
        color: black;
      }
    }
  }
}

.alert {
  color: red;
}
